<!DOCTYPE html>
<html>
<head>
<title>Umusic</title>
<link href="{{base}}media/css/style.css" rel="stylesheet" type="text/css" media="all">
</head>

<body>
<div id="main_container">
  <div id="header_container">
    <div id="header"> <a href="{{base}}/" id="logo" class="main_umusic"></a>
      {{#user}}<p style="color:white; float:left; font-size:2em;">DEBUG :: user signed in: {{username}} - go to <a href="{{base}}music/">music</a></p>{{/user}}{{^user}}<p style="color:white; float:left; font-size:2em;">DEBUG :: You are not logged in</p>{{/user}}
      <div id="search">
        <form accept-charset="UTF-8" action="{{base}}music/search" class="search" method="post">
          <input type="text" id="query" name="q" placeholder="Search"/>
          <input type="submit" id="search_submit" value=" "/>
        </form>
      </div>
    </div>
  </div>
  <div id="wrapper"> 
  	<div id="results">
            {{>content}}
    </div>
  </div>
  <div id="stream">
  	<div id="stream_left">
    </div>
    <div id="stream_right">
    </div>
  </div>
</div>
</body>
</html>
