<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="{{base}}media/css/html5.css">
  <link rel="stylesheet/less" type="text/css" href="{{base}}media/css/style.less.css">
  <link rel="stylesheet" type="text/css" href="{{base}}media/css/umusic.css">
  <script src="{{base}}media/js/modernizr.js"></script>
  <script src="{{base}}media/js/less.js"></script>
</head>

<body>
  <div class="popup" id="signin-dialog"></div>
  <div class="popup" id="register-dialog"></div>

  <div id="container">
    <header>
		<a id="logo" href="{{base}}"><img src="{{base}}media/img/logo.png" alt="Umusic" /></a>
		<div class="menu">
			<a class="action page" href="search">Search</a>
			<a class="action page" href="playlist">My Playlist</a>
                        <a class="action page" href="recommendations">Recommendations</a>
                        <a class="action page" href="mytags">My Tags</a>
		</div>
		<div id="user">
			{{#user}}
			<a class="action user" href="#signout-dialog">Welcome, {{username}}</a> 
			{{/user}}
			{{^user}}
			<a class="action user" href="#signin-dialog">Sign in</a><a class="action user" href="#register-dialog">Register</a>
			{{/user}}
		</div>
    </header>
    <div id="main" role="main">
	<div id="welcome">
            <h1>Welcome to Umusic!</h1>
        </div>
    </div>
    <div id="music">
    	<div id="current">
    		<div id="controls">
    			<a href="#previous">pr</a>
    			<a href="#playpause">pl/ps</a>
    			<a href="#next">nx</a>
    		</div>
    		<div class="item">
    			<img src="{{base}}media/img/album_art/Unknown.png" alt="Album Art" />
    			<div class="info">
    				<h1>Title</h1>
    				<h2>Artist</h2>
    			</div>
    		</div>
    	</div>
    	<div id="playlist">
    		
    	</div>
    </div>
  </div>

  <script src="{{base}}media/js/jquery.js"></script>
  <script defer src="{{base}}media/js/mustache.js"></script>
  <script defer src="{{base}}media/js/fancybox.js"></script>
  <script type="text/javascript">
  	var base = "{{base}}";
        {{#user}}
        var user = {
            email: "{{email}}",
            password: "{{password}}",
            playlist: {{{playlist}}},
            rowid: {{rowid}},
            username: "{{username}}"
        };
        {{/user}}
        {{^user}}
        var user = {};
        {{/user}}
  </script>
  <script defer src="{{base}}media/js/umusic.js"></script>

</body>
</html>
