# Windows image file caches
Thumbs.db 

# Folder config file
Desktop.ini

# Mac specific files
.DS_Store

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Eclipse bullshit
.buildpath
.project
.settings

# SQlite databases
www/application/data/artist_similarity.sqlite
www/application/data/artist_term.sqlite
www/application/data/lastfm_similars.sqlite
www/application/data/lastfm_tags.sqlite
www/application/data/track_metadata.sqlite