Hey {{user.username}}, <br /><br />
Do you want to sign out? <br />

<button type="button" id="yes" class="action user" href="#signout"> Yes </button>
<button type="button" id="no" class="action user" href="#close"> No </button>