<h1>Sign in</h1>
<p>Please sign in to continue.</p>
<form method="post" action="signin">
	<label>Username:</label>
        <input type="text" name="username" value="{{values.username}}" /> <span class="form-error">{{errors.username}}</span> <br />
	<label>Password:</label>
        <input type="password" name="password" value="" /> <span class="form-error">{{errors.password}}</span> <br />
	<input type="submit" name="login" value="Sign in" />
</form>