<form method="post" action="{{url}}">
	<input type="hidden" name="csrf" value="{{token}}" />
	<input type="text" name="username" value="" />
	<input type="password" name="password" value="" />
	<input type="submit" name="login" value="Sign in" />
</form>