<!DOCTYPE html>
<html>
<head>
<title>{{Title}}</title>
<link href="{{base}}media/umusic.css" rel="stylesheet" type="text/css" media="all">
</head>

<body>
<div id="main_container">
  <div id="header_container">
    <div id="header"> <a href="/" id="logo" class="main_umusic"> </a>
      <div id="search">
        <form accept-charset="UTF-8" action="{{base}}welcome/search" class="search" method="post">
          <input type="text" id="query" name="q" placeholder="Search"/>
          <input type="submit" id="search_submit" value=" "/>
        </form>
      </div>
    </div>
  </div>
