@charset "utf-8";
/* CSS Document */

body {
font-size: 14px;
line-height: 18px;
text-align: center;
margin: 0px;
padding: 0px;
color: black;
background-color: white;
top: 0px;
left: 0px;
overflow: hidden;
}

#header_container {
position: fixed;
width: 100%;
height: 87px;
background-position: 0px 0px;
background-color: #122C4B;
margin: 0px auto;
}

#header {
position: relative;
height: 107px;
width: 1177px;
margin: 0px auto;
z-index: 103;
padding: 0px 15px 20px;
}

#logo {
position: absolute;
display: block;
margin: 0px;
padding: 0px;
width: 191px;
height: 87px;
text-align: left;
}

.main_umusic {
position: absolute;
display: none;
background: url(https://github.com/Umusic/Umusic/raw/gh-pages/images/UMusic_smaller.png) top left no-repeat;
background-size: 80%;
cursor: pointer;
}

#search {
position: absolute;
top: 27px;
right: 0px;
width: 307px;
height: 50px;
border-radius: 25px;
}

#query {
font-family: 'Helvetica Neue', Helvetica, sans-serif;
font-weight: 400;
padding: 5px 37px 8px 9px;
height: 21px;
margin: -1px -1px -2px;
font-size: 16px;
font-style: normal;
line-height: normal;
width: 255px;
background: #284864 url(https://github.com/Umusic/Umusic/raw/gh-pages/images/bg_searchbox.png) no-repeat 266px 6px;
border: 0px solid #011B31;
border-radius: 7px;
color: #8E99A2;
}

#search_submit {
border: 0px none;
position: absolute;
top: 0px;
right: 0px;
width: 43px;
height: 36px;
background: transparent none;
cursor: pointer;
}

#wrapper {
position: relative;
width: 1077px;
margin: 0px auto;
background: white;
top: 87px;
z-index: 103;
padding: 20px 15px 20px;
overflow: visible;
}

#results {
top: 0px;
left: 0px;
font-family: 'Helvetica Neue', Helvetica, sans-serif;
height: 500px;
}

#results, li {

}

#stream {
position: fixed;
z-index: 7000;
bottom: 0px;
left: 0px;
width: 100%;
height: 150px;
background-color: #122C4B;
}

#stream_left {
position: fixed;
width: 200px;
height: inherit;
}

#stream_right {
position: fixed;
height: inherit;
left: 201px;
width: 100%;
background-color: #284864;
}