<div class="item" id="{{track_id}}">
    <a class="action echoinfo" href="#">	
        <img src="{{base}}external/artwork/{{artist_name}}/{{release}}" alt="{{artist_name}}-{{release}}" />
	<div class="info">
		<h1>{{title}}</h1>
		<h2>{{artist_name}}</h2>
	</div>
	<div class="interaction">
		<a class="action recommendation add" href="#">Add to playlist</a>
		<a class="action recommendation remove"href="#">I don't like this</a>
	</div>
    </a>
</div>