<div class="mytag" id="mytag-{{tag}}"><div style="width:{{negspace}}px">&nbsp;</div><div class="neg" style="width:{{neg}}px">&nbsp;</div><div class="mid">{{tag}}</div><div class="pos" style="width:{{pos}}px">&nbsp;</div><div style="width:{{posspace}}px">&nbsp;</div></div>
