<h1>{{name}}</h1>
<div id="basic-info">
    <img src="{{image}}" id="art" alt="{{name}}" />
    <div id="artisttags"></div>
    <div id="bio"></div>
</div>
<div id="news">
    
</div>
<div id="reviews"></div>
<div id="twitter"></div>

