<form method="post" action="search">
    Title: <input type="text" name="title" value="" /><br />
    Artist: <input type="text" name="artist" value="" /><br />
    <input type="submit" name="search" value="Search" />
</form>