<div class="search">
<h1>Search</h1>
<form method="post" action="search">
    <input type="text" name="title" value="" placeholder="Type song title here" />
    <input type="text" name="artist" value="" placeholder="Type artist here" />
    <input type="submit" name="search" value="" />
</form>
</div>